<md-card>

<!--     <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Admin page</span>
        </md-card-title-text>
    </md-card-title>	--> 

    <md-card-content>
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head>
                <tr md-row>

                    <th md-column>
                        <span>ID</span>
                    </th>

                    <th md-column>
                        <span>First name</span>
                    </th>

                    <th md-column>
                        <span>Last name</span>
                    </th>

                    <th md-column>
                        <span>Username</span>
                    </th>

                    <th md-column>
                        <span>Password</span>
                    </th>

                    <th md-column>
                        <span>Authority</span>
                    </th>

                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="employee in employees">
                    <td md-cell>{{employee.id}}</td>
                    <td md-cell>{{employee.firstName}}</td>
                    <td md-cell>{{employee.lastName}}</td>
                    <td md-cell>{{employee.username}}</td>
                    <td md-cell>{{employee.password}}</td>
                    <td md-cell>{{employee.authorization}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>


</md-card>