<div layout="row" layout-wrap>

    <md-card flex="30" style="height: 0%">


        <md-card-header style="background-color: #2E7D32;">
            <md-card-header-text>
                <div layout="row">
                    <div layout="row" layout-align="start center">
                        <span class="md-title" style="color: white;">Zaposlenici</span>
                    </div>
                    <div flex></div>
                    <md-button ng-show="!showEmployee()"
                               class="md-raised md-fab md-mini" ng-click="newEmployee = true">

                        <i class="material-icons md-fab"
                           style="color: #2E7D32; vertical-align: middle; text-transform: none">add</i>
                        <md-tooltip md-direction="bottom">
                            Novi zaposlenik
                        </md-tooltip>
                    </md-button>

                    <md-button ng-show="showEmployee()"
                               class="md-raised md-fab md-mini" ng-click="clearEmployee()">

                        <i class="material-icons md-fab"
                           style="color: #2E7D32; vertical-align: middle; text-transform: none">close</i>
                        <md-tooltip md-direction="bottom">
                            Zatvori
                        </md-tooltip>
                    </md-button>
                </div>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>


            <div layout="row" ng-show="!newEmploye">

                <md-input-container style="width: 100%">
                    <label>Zaposlenik</label>
                    <md-select ng-model="selectedEmployee" md-on-close="setEmployeeInfo()">

                        <md-option value=""></md-option>

                        <md-option ng-value="employee" ng-repeat="employee in employees">{{employee.lastName}} {{employee.firstName}}</md-option>

                    </md-select>
                </md-input-container>

            </div>


            <md-content ng-show="showEmployee()" style="max-height: 500px">
                <md-divider style="margin-top: 20px; margin-bottom: 30px" ng-show="!newEmployee"></md-divider>
                <h3 ng-show="newEmployee">Novi zaposlenik</h3>
                <span style="color: #F44336">{{employeeResultMessage}}</span>

                <form name="employeeForm" style="margin: 0">

                    <md-button
                            style="font-size: 18px; text-transform: none; margin: 0; border-radius: 0; height: 50px; text-align:left"
                            layout-fill
                            ng-click="showUserData = !showUserData" class="md-primary">
                        <span style="vertical-align: middle;">Korisnički podaci</span>

                            <i layout-align="end" class="material-icons md-primary" ng-show="!showUserData" style="vertical-align: middle; text-transform: none">keyboard_arrow_down</i>
                            <i  layout-align="end" class="material-icons md-primary" ng-show="showUserData" style="vertical-align: middle; text-transform: none">keyboard_arrow_up</i>


                    </md-button>


                    <md-input-container ng-show="showUserData" class="md-block">
                        <label>Korisničko ime</label>
                        <input required name="username" ng-model="selectedEmployee.username">

                        <div ng-messages="employeeForm.username.$error">
                            <div ng-message="required">Korisničko ime zaposlenika je potrebno</div>
                        </div>
                    </md-input-container>

                    <md-input-container ng-show="showUserData" class="md-block">
                        <label>E-mail</label>
                        <input name="email" ng-model="selectedEmployee.email">
                    </md-input-container>

                    <md-input-container ng-show="showUserData" class="md-block">
                        <label>Mobitel</label>
                        <input name="phoneNumber" ng-model="selectedEmployee.phoneNumber">
                    </md-input-container>

                    <md-input-container ng-show="showUserData" class="md-block">
                        <label>Ovlaštenje</label>
                        <input name="authorization" ng-model="selectedEmployee.authorization">
                    </md-input-container>

                    <md-button
                            style="font-size: 18px; text-transform: none; margin: 0; border-radius: 0; height: 50px; text-align:left"
                            layout-fill
                            ng-click="showPersonalData = !showPersonalData" class="md-primary">
                        <span style="vertical-align: middle;">Osobni podaci</span>

                        <i layout-align="end" class="material-icons md-primary" ng-show="!showPersonalData" style="vertical-align: middle; text-transform: none">keyboard_arrow_down</i>
                        <i  layout-align="end" class="material-icons md-primary" ng-show="showPersonalData" style="vertical-align: middle; text-transform: none">keyboard_arrow_up</i>


                    </md-button>

                    <md-input-container ng-show="showPersonalData" class="md-block">
                    <label>Ime</label>
                    <input required name="firstName" ng-model="selectedEmployee.firstName">

                    <div ng-messages="employeeForm.firstName.$error">
                    <div ng-message="required">Ime zaposlenika je potrebno</div>
                    </div>
                    </md-input-container>

                    <md-input-container ng-show="showPersonalData" class="md-block">
                    <label>Prezime</label>
                    <input required name="lastName" ng-model="selectedEmployee.lastName">

                    <div ng-messages="employeeForm.lastName.$error">
                    <div ng-message="required">Prezime zaposlenika je potrebno</div>
                    </div>
                    </md-input-container>

                    <md-input-container ng-show="showPersonalData" class="md-block">
                    <label>Državljanstvo</label>
                    <input name="citizenship" ng-model="selectedEmployee.citizenship">
                    </md-input-container>

                    <div layout="column" ng-show="showPersonalData">
                    <label class="md-caption">Datum rođenja</label>
                    <md-datepicker style="margin: 0" ng-model="tempBirthDate" md-placeholder="Datum rođenja"></md-datepicker>
                    </div>

                    <md-input-container ng-show="showPersonalData" class="md-block">
                    <label>Država</label>
                    <input name="country" ng-model="selectedEmployee.country">
                    </md-input-container>

                    <md-input-container ng-show="showPersonalData" class="md-block">
                    <label>Grad</label>
                    <input name="city" ng-model="selectedEmployee.city">
                    </md-input-container>

                    <md-input-container ng-show="showPersonalData" class="md-block">
                    <label>Adresa</label>
                    <input name="address" ng-model="selectedEmployee.address">
                    </md-input-container>


                    <md-button
                            style="font-size: 18px; text-transform: none; margin: 0; border-radius: 0; height: 50px; text-align:left"
                            layout-fill
                            ng-click="showContractData = !showContractData" class="md-primary">
                        <span style="vertical-align: middle;">Podaci iz ugovora o radu</span>

                        <i layout-align="end" class="material-icons md-primary" ng-show="!showContractData" style="vertical-align: middle; text-transform: none">keyboard_arrow_down</i>
                        <i  layout-align="end" class="material-icons md-primary" ng-show="showContractData" style="vertical-align: middle; text-transform: none">keyboard_arrow_up</i>


                    </md-button>

                    <md-input-container ng-show="showContractData" class="md-block">
                    <label>Odjel</label>
                     <md-select ng-model="selectedBusinessUnit" ng-model-options="{trackBy: '$value.id'}">

                        <md-option value=""></md-option>

                        <md-option ng-value="businessUnit" ng-repeat="businessUnit in businessUnits">{{businessUnit.name}}</md-option>

                    </md-select>
                    </md-input-container>

                    <md-input-container ng-show="showContractData" class="md-block">
                    <label>Radno mjesto</label>
                    <input name="workingPlace" ng-model="selectedEmployee.workingPlace">
                    </md-input-container>

                    <div layout="column" ng-show="showContractData">
                    <label class="md-caption">Datum zapošljenja</label>
                    <md-datepicker style="margin: 0" ng-model="tempEmploymentDate" md-placeholder="Datum zapošljenja"></md-datepicker>
                    </div>

                    <md-input-container ng-show="showContractData" class="md-block">
                        <label>Trajanje ugovora</label>
                        <input name="contract" ng-model="selectedEmployee.contract">
                    </md-input-container>

                    <md-button
                            style="font-size: 18px; text-transform: none; margin: 0; border-radius: 0; height: 50px; text-align:left"
                            layout-fill
                            ng-click="showEducationData = !showEducationData" class="md-primary">
                        <span style="vertical-align: middle;">Podaci o stručnoj spremi</span>

                        <i layout-align="end" class="material-icons md-primary" ng-show="!showEducationData" style="vertical-align: middle; text-transform: none">keyboard_arrow_down</i>
                        <i  layout-align="end" class="material-icons md-primary" ng-show="showEducationData" style="vertical-align: middle; text-transform: none">keyboard_arrow_up</i>


                    </md-button>

                    <md-input-container ng-show="showEducationData" class="md-block">
                        <label>Stručna sprema</label>
                        <input name="qualifications" ng-model="selectedEmployee.qualifications">
                    </md-input-container>

                    <md-input-container ng-show="showEducationData" class="md-block">
                        <label>Zvanje</label>
                        <input name="vocation" ng-model="selectedEmployee.vocation">
                    </md-input-container>

                    <md-input-container ng-show="showEducationData" class="md-block">
                        <label>Fakultet</label>
                        <input name="university" ng-model="selectedEmployee.university">
                    </md-input-container>

                </form>


                <div layout="row" layout-align="end">

                    <md-button class="md-primary md-raised" ng-disabled="employeeForm.$invalid"
                               ng-click="saveEmployee(selectedEmployee)">
                        <i class="material-icons" style="vertical-align: middle; text-transform: none; color: white">save</i>
                        <span style="color: white; vertical-align: middle;">Spremi</span>
                    </md-button>
                </div>

            </md-content>


        </md-card-content>


    </md-card>

    <md-card flex="25" style="height: 0%">

        <md-card-header style="background-color: #2E7D32;">
            <md-card-header-text>
                <div layout="row">
                    <div layout="row" layout-align="start center">
                        <span class="md-title" style="color: white;">Projekti</span>
                    </div>
                    <div flex></div>
                    <md-button ng-show="!showProject()"
                               class="md-raised md-fab md-mini" ng-click="newProject = true">

                        <i class="material-icons md-fab"
                           style="color: #2E7D32; vertical-align: middle; text-transform: none">add</i>
                        <md-tooltip md-direction="bottom">
                            Novi projekt
                        </md-tooltip>
                    </md-button>

                    <md-button ng-show="showProject()"
                               class="md-raised md-fab md-mini" ng-click="clearProject()">

                        <i class="material-icons md-fab"
                           style="color: #2E7D32; vertical-align: middle; text-transform: none">close</i>
                        <md-tooltip md-direction="bottom">
                            Zatvori projekt
                        </md-tooltip>
                    </md-button>
                </div>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>


            <div layout="row" ng-show="!newProject">

                <md-input-container style="width: 100%">
                    <label>Projekt</label>
                    <md-select ng-model="selectedProject">

                        <md-option value=""></md-option>

                        <md-option ng-value="project" ng-repeat="project in projects">{{project.name}}</md-option>

                    </md-select>
                </md-input-container>

            </div>


            <md-content ng-show="showProject()">
                <md-divider style="margin-top: 20px; margin-bottom: 30px" ng-show="!newProject"></md-divider>
                <h3 ng-show="newProject">Novi projekt</h3>
                <span style="color: #F44336">{{projectResultMessage}}</span>

                <form name="projectForm">
                    <md-input-container class="md-block">
                        <label>Ime projekta</label>
                        <input required name="name" ng-model="selectedProject.name">

                        <div ng-messages="projectForm.name.$error">
                            <div ng-message="required">Ime projekta je potrebno</div>
                        </div>
                    </md-input-container>
                </form>

                <div layout="row" layout-align="end">

                    <md-button class="md-primary md-raised" ng-show="!newProject"
                               ng-click="deleteProject(selectedProject)">
                        <i class="material-icons" style="vertical-align: middle; text-transform: none; color: white">delete</i>
                        <span style="color: white; vertical-align: middle;">Obriši</span>
                    </md-button>


                    <md-button class="md-primary md-raised" ng-disabled="projectForm.$invalid"
                               ng-click="saveProject(selectedProject)">
                        <i class="material-icons" style="vertical-align: middle; text-transform: none; color: white">save</i>
                        <span style="color: white; vertical-align: middle;">Spremi</span>
                    </md-button>
                </div>

            </md-content>


        </md-card-content>


    </md-card>

    <md-card flex="25" style="height: 0%">

        <md-card-header style="background-color: #2E7D32;">
            <md-card-header-text>
                <div layout="row">
                    <div layout="row" layout-align="start center">
                        <span class="md-title" style="color: white;">Lokacije</span>
                    </div>
                    <div flex></div>
                    <md-button ng-show="!showLocation()"
                               class="md-raised md-fab md-mini" ng-click="newLocation = true">

                        <i class="material-icons md-fab"
                           style="color: #2E7D32; vertical-align: middle; text-transform: none">add</i>
                        <md-tooltip md-direction="bottom">
                            Nova lokacija
                        </md-tooltip>
                    </md-button>

                    <md-button ng-show="showLocation()"
                               class="md-raised md-fab md-mini" ng-click="clearLocation()">

                        <i class="material-icons md-fab"
                           style="color: #2E7D32; vertical-align: middle; text-transform: none">close</i>
                        <md-tooltip md-direction="bottom">
                            Zatvori lokaciju
                        </md-tooltip>
                    </md-button>
                </div>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>


            <div layout="row" ng-show="!newLocation">

                <md-input-container style="width: 100%">
                    <label>Lokacija</label>
                    <md-select ng-model="selectedLocation">

                        <md-option value=""></md-option>

                        <md-option ng-value="location" ng-repeat="location in locations">{{location.name}}</md-option>

                    </md-select>
                </md-input-container>

            </div>


            <md-content ng-show="showLocation()">
                <md-divider style="margin-top: 20px; margin-bottom: 30px" ng-show="!newLocation"></md-divider>
                <h3 ng-show="newLocation">Nova lokacija</h3>
                <span style="color: #F44336">{{locationResultMessage}}</span>

                <form name="locationForm">
                    <md-input-container class="md-block">
                        <label>Ime lokacije</label>
                        <input name="name" ng-model="selectedLocation.name">

                    </md-input-container>
                </form>

                <div layout="row" layout-align="end">

                    <md-button class="md-primary md-raised" ng-show="!newLocation"
                               ng-click="deleteLocation(selectedLocation)">
                        <i class="material-icons" style="vertical-align: middle; text-transform: none; color: white">delete</i>
                        <span style="color: white; vertical-align: middle;">Obriši</span>
                    </md-button>

                    <md-button class="md-primary md-raised" ng-disabled="locationForm.$invalid"
                               ng-click="saveLocation(selectedLocation)">
                        <i class="material-icons" style="vertical-align: middle; text-transform: none; color: white">save</i>
                        <span style="color: white; vertical-align: middle;">Spremi</span>
                    </md-button>
                </div>

            </md-content>


        </md-card-content>


    </md-card>

</div>