<md-card>
    <md-card-content>
        <md-content layout="row" style="width: 100%" >
            <h3>Employees</h3>

            <div flex>
            </div>

            <md-input-container ng-show="showSearch">
                <label>Pretraga</label>
                <input name="search" ng-model="searchName">

            </md-input-container>

            <md-button
                    ng-click="showSearch = !showSearch" class="md-primary md-fab md-mini" >

                <i class="material-icons md-fab" style="color: white; vertical-align: middle; text-transform: none">search</i>

            </md-button>
        </md-content>
        <md-list>
            <md-item ng-repeat="item in employees | filter: searchName" class="md-3-line">
                <md-item-content layout="row">
                    <div class="md-tile-left inset">
                        <img class="md-avatar"
                             ng-src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                             style="width: 35px; height: 35px; vertical-align: middle;">
                    </div>
                    <div class="md-tile-content">
                        <h4 style="margin-top: 10px; margin-bottom: 10px">{{item.name}}</h4>
                        <h5 style="margin-top: 10px; margin-bottom: 10px">{{item.workplace}}</h5>

                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>

        </md-list>

    </md-card-content>

</md-card>
