<md-card>

    <md-card-content>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <md-button type="submit"
                           ng-click="downloadXls()" class="md-raised md-primary" layout="row"layout-align="start center">

                    <md-icon style="color: white" class="material-icons"
                             md-svg-src='img/xlsx-file-format-extension.svg'></md-icon>

                    <span style="vertical-align: middle; color: white">Excel</span>

                </md-button>

                <md-button type="submit"
                           ng-click="downloadPdf()" class="md-raised md-primary" layout="row"layout-align="start center"
                        >

                    <md-icon style="color: white" class="material-icons"
                             md-svg-src='img/pdf-file-format-symbol.svg'></md-icon>

                    <span style="vertical-align: middle; color: white">PDF</span>

                </md-button>

                <md-button type="submit"
                           ng-csv="csvData()" filename="Evidencije.csv" class="md-raised md-primary" layout="row"layout-align="start center">

                    <md-icon style="color: white" class="material-icons"
                             md-svg-src='img/csv-file-format-extension.svg'></md-icon>

                    <span style="vertical-align: middle; color: white">CSV</span>

                </md-button>

            </div>
        </md-toolbar>
        <div id="exportTable">
            <md-table-container>
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>

                        <th md-column md-order-by="name">
                            <span>Ime</span>
                        </th>

                        <th md-column md-order-by="signInTimestamp">
                            <span>Prijava</span>
                        </th>

                        <th md-column>
                            <span>Odjava</span>
                        </th>

                        <th md-column>
                            <span>Lokacija</span>
                        </th>

                        <th md-column>
                            <span>Projekt</span>
                        </th>


                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row
                        ng-repeat="evidence in evidences | orderBy: query.order">
                        <td md-cell>{{evidence.name}}</td>
                        <td md-cell>{{evidence.signInTimestamp | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td md-cell>{{evidence.signOutTimestamp | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td md-cell>{{evidence.location}}</td>
                        <td md-cell>{{evidence.project}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card-content>


</md-card>