<md-card style="max-width: 400px">
    <md-content layout="column" layout-padding style="background-color: #006064; padding: 0">
        <div layout="row" style="margin: 0">
            <div style="margin-left: 10px">
                <h4 style="color: white">Ime i prezime</h4>

                <h3 style=" color: white">{{controller.name}}</h3>
            </div>

            <div flex="10"></div>

            <div>
                <h4 style="color: white">Vrijeme</h4>

                <h3 style=" color: white">{{getDatetime | date:'dd.MM.yyyy HH:mm:ss'}}</h3>
            </div>

        </div>
    </md-content>
    <md-content layout-padding>


        <h2 ng-show="!isSignedin">Prijava</h2>
        <h2 ng-show="isSignedin">Odjava</h2>

        <form name="evidenceForm">

            <md-input-container style="width: 100%">
                <label>Lokacija</label>
                <md-select ng-model="selectedLocation.name" ng-disabled="isSignedin">

                    <md-option value=""></md-option>

                    <md-option ng-value="location.name" ng-repeat="location in locations">{{location.name}} </md-option>

                </md-select>
            </md-input-container>


            <md-input-container style="width: 100%">
                <label>Projekt</label>

                <md-select ng-model="selectedProject.name" ng-disabled="isSignedin">

                    <md-option value=""></md-option>

                    <md-option ng-value="project.name" ng-repeat="project in projects">{{project.name}}</md-option>

                </md-select>


            </md-input-container>

            <div layout="row" layout-align="end" flex>

                <md-button ng-disabled="disableSaveEvidence()"
                           ng-click="saveEvidence()" class="md-raised md-primary">

                    <i class="material-icons"
                       style="color: white; vertical-align: middle; text-transform: none">save</i>

                    <span style="vertical-align: middle; color: white; text-transform: none">Spremi</span>

                </md-button>

            </div>

        </form>

    </md-content>
</md-card>
