<md-card>
    <md-tabs md-dynamic-height md-border-bottom md-progress="promise">
        <md-tab label="Osobni podaci i evidencije">
           <md-content class="md-padding" layout-xs="column" layout="row">
    			<div flex-xs flex-gt-xs="50" layout="column">
           			<md-card>
        				<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
          					<md-card-title-text style="color: white">
            					<span class="md-headline">Osobni podaci</span>
          					</md-card-title-text>
        				</md-card-title>
        				<md-card-content>
        					<p></p>
          					<p>Ime i prezime:	{{controller.name}}</p>
          					<p>Državljanstvo:	{{controller.citizenship}}</p>
          					<p>Datum rođenja:	{{controller.birthDate  | date:'dd.MM.yyyy.'}}</p>
          					<p>Adresa:			{{controller.address}}</p>
        				</md-card-content>
      				</md-card>
      				<md-card>
       					<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
          					<md-card-title-text style="color: white">
            					<span class="md-headline">Podaci o stručnoj spremi</span>
          					</md-card-title-text>
        				</md-card-title>
        				<md-card-content>
        					<p></p>
          					<p>Stručna sprema:	{{controller.qualifications}}</p>
          					<p>Zvanje:			{{controller.vocation}}</p>
          					<p>Fakultet:		{{controller.university}}</p>
        				</md-card-content>
      				</md-card>
      			</div>
 				<div flex-xs flex-gt-xs="50" layout="column">
      				<md-card>
						<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
          					<md-card-title-text style="color: white">
            					<span class="md-headline">Podaci iz ugovora o radu</span>
          					</md-card-title-text>
        				</md-card-title>
        				<md-card-content>
          					<p></p>
          					<p>Odjel:				{{controller.businessUnit.name}}</p>
          					<p>Radno mjesto:		{{controller.workingPlace}}</p>
          					<p>Datum početka rada:	{{controller.employmentDate  | date:'dd.MM.yyyy.'}}</p>
          					<p>Trajanje ugovora:	{{controller.contract}}</p>
        				</md-card-content>
      				</md-card>
      				<md-card>
						<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
          					<md-card-title-text style="color: white">
            					<span class="md-headline">Korisnički podaci</span>
          					</md-card-title-text>
        				</md-card-title>
        				<md-card-content>
          					<p></p>
          					<p>Korisničko ime:	{{controller.username}}</p>
          					<p>E-mail:			{{controller.email}}</p>
          					<p>Mobitel:			{{controller.phoneNumber}}</p>
        				</md-card-content>
      				</md-card>
				</div>
       		</md-content>
        </md-tab>
        
        
         <md-tab label="Korištenje godišnjeg odmora">
			<md-content class="md-padding">
	            <div flex-xs flex-gt-xs="50" layout="column">
	           			<md-card>
	        				<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
	          					<md-card-title-text style="color: white">
	            					<span class="md-headline">Broj dana godišnjeg odmora</span>
	          					</md-card-title-text>
	        				</md-card-title>
	        				<md-card-content>
						        <md-table-container>
						            <table md-table>
						                <thead md-head>
							                <tr md-row>
							                		
							                    <th md-column style="text-align: center">
							                        <span>Broj odobrenih dana</span>
							                    </th>	
							                    				
							                    <th md-column style="text-align: center">
							                        <span>Broj iskorištenih dana</span>
							                    </th>	
							                    				
							                    <th md-column style="text-align: center">
							                        <span>Broj preostalih dana</span>
							                    </th>
							                    
							                </tr>
						                </thead>
						                
						                <tbody md-body>
							                <tr md-row  ng-repeat="vacation in controller.vacations">
							                    <td md-cell style="text-align: center">{{vacation.vacationDaysAllowed}}</td>
							                    <td md-cell style="text-align: center">{{vacation.vacationDaysUsedAll}}</td>
							                    <td md-cell style="text-align: center">{{vacation.vacationDaysLeft}}</td>
							                </tr>
						                </tbody>
						            </table>
						        </md-table-container>
						    </md-card-content>
	      				</md-card>
	      				
	      				<md-card>
	       					<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
	          					<md-card-title-text style="color: white">
	            					<span class="md-headline">Iskorišten godišnji odmor</span>
	          					</md-card-title-text>
	        				</md-card-title>
	        				
							<md-card-content>
						        <md-table-container>
						            <table md-table>
						                <thead md-head>
							                <tr md-row>		
							                		
							                    <th md-column style="text-align: center">
							                        <span>Broj dana</span>
							                    </th>	
							                    				
							                    <th md-column style="text-align: center">
							                        <span>Datum početka</span>
							                    </th>	
							                    				
							                    <th md-column style="text-align: center">
							                        <span>Datum završetka</span>
							                    </th>
							                    
							                </tr>
						                </thead>
						                
						                <tbody md-body>
							                <tr md-row
							                    ng-repeat="vacation in controller.vacations">
							                    <td md-cell style="text-align: center">{{vacation.vacationDaysUsed}}</td>
							                    <td md-cell style="text-align: center">{{vacation.vacationStart | date:'dd.MM.yyyy'}}</td>
							                    <td md-cell style="text-align: center">{{vacation.vacationEnd | date:'dd.MM.yyyy'}}</td>
							                </tr>
						                </tbody>
						            </table>
						        </md-table-container>
						    </md-card-content>
	        				
	      				</md-card>
	      		</div>
			</md-content>
		</md-tab>
        
        
        <md-tab label="Položeni certifikati">
            <md-content class="md-padding">
                 <div flex-xs flex-gt-xs="50" layout="column">
	           			<md-card>
	        				<md-card-title layout-padding style="background-color: #2E7D32; padding: 0">
	          					<md-card-title-text style="color: white">
	            					<span class="md-headline">Položeni certifikati</span>
	          					</md-card-title-text>
	        				</md-card-title>
	        				<md-card-content>
						        <md-table-container>
						            <table md-table>
						                <thead md-head>
							                <tr md-row>
							                		
							                    <th md-column style="text-align: center">
							                        <span>Naziv certifikata</span>
							                    </th>	
							                    				
							                    <th md-column style="text-align: center">
							                        <span>Datum polaganja</span>
							                    </th>	
							                    				
							                    <th md-column style="text-align: center">
							                        <span>Datum isteka</span>
							                    </th>
							                    
							                </tr>
						                </thead>
						                
						                <tbody md-body>
							                <tr md-row  ng-repeat="certificate in controller.certificates">
							                    <td md-cell style="text-align: center">{{certificate.name}}</td>
							                    <td md-cell style="text-align: center">{{certificate.examinationDate | date:'dd.MM.yyyy'}}</td>
							                    <td md-cell style="text-align: center">{{certificate.expirationDate | date:'dd.MM.yyyy'}}</td>
							                </tr>
						                </tbody>
						            </table>
						        </md-table-container>
						    </md-card-content>
	      				</md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-card>