<md-dialog   ng-cloak>
    <md-content layout-padding>
        <h2 class="md-title">Promjeni zaporku</h2>

        <span style="color: #F44336">{{changePasswordErrorMsg}}</span>

        <form name="changePasswordForm" style="margin-top: 20px">

            <md-dialog-content>
                <md-input-container class="md-block">
                    <label>Stara zaporka</label>
                    <input type="password" required name="oldPassword" ng-model="changePasswordRequest.oldPassword">

                    <div ng-messages="changePasswordForm.oldPassword.$error">
                        <div ng-message="required">Old password is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nova zaporka</label>
                    <input type="password" required name="newPassword" ng-model="changePasswordRequest.newPassword">

                    <div ng-messages="changePasswordForm.newPassword.$error">
                        <div ng-message="required">New password is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Potvrdi novu zaporku</label>
                    <input type="password" required name="newPasswordConfirm" ng-model="changePasswordRequest.newPasswordConfirm">

                    <div ng-messages="changePasswordForm.newPasswordConfirm.$error">
                        <div ng-message="required">You must confirm new password.</div>
                    </div>
                </md-input-container>

            </md-dialog-content>

            <md-dialog-actions layout="row">

                <md-button ng-click="hideDialog()" class="md-primary">
                    <span style="vertical-align: middle; text-transform: none">Odustani</span>
                </md-button>

                <md-button class="md-primary" ng-disabled="changePasswordForm.$invalid || isUnchanged(changePassword)"
                           ng-click="changePassword(changePassword)">
                    <i class="material-icons" style="vertical-align: middle; text-transform: none">lock</i>
                    <span style="vertical-align: middle;">Promjeni</span>
                </md-button>

            </md-dialog-actions>

        </form>
    </md-content>
</md-dialog>